/*controls global text size*/
.txtwrapper{
    font-size: 100%;
}

.welcome {
    
	text-align: center;
}
/*overrides jquery mobile presets*/
.ui-btn{
    background-color: #85898A;
    font-size: 100%;
}

.ui-collapsible-heading-toggle{
    background-color: rgba(202,225,255,0.6);
    overflow:auto;
}
.ui-content{
    text-shadow:0 0 0 !important; 
    background-color:#C7D0D4;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0;
}

.ui-panel{
   
    background-color:#D9D9D9;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    padding: 0;
}

.credits {
    margin-left: 1em;
    color: black;
    
}

#HomePageFooter{
    height: 4.7em;
    background-color:#ABB9C4;
}

#RoutesPageFooter{
    height: 4.7em;
    background-color: #ABB9C4;
}

#MapPageFooter{
    height: 4.7em;
    background-color: #ABB9C4;
}

#SettingsPageFooter{
    height: 4.7em;
    background-color: #ABB9C4;
}

#HomePageHeader{
    background-color: #ABB9C4;
}

#RoutesPageHeader{
    background-color: #ABB9C4;
}

#MapPageHeader{
    background-color: #ABB9C4;
}

#SettingsPageHeader{
    background-color: #ABB9C4;
}

.ui-header  .ui-btn{
	font-size: 78.125%;
}

#SettingsPageBody{
    padding: 0;
}​

.disclaimer {
	text-align: center;
    color:white;
}

/*
* Gmaps parameters   gmaps key if needed: AIzaSyBkCYqa7NKztnEyy4QEV3d02kQuEmKfiR4
*/
#map{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25%;
  margin-bottom: auto;
  -moz-box-shadow: 0px 5px 20px #ccc;
  -webkit-box-shadow: 0px 5px 20px #ccc;
  box-shadow: 0px 5px 20px #ccc;

}

.overlay{
  display:block;
  text-align:center;
  color:#fff;
  font-size:60px;
  line-height:80px;
  opacity:0.8;
  background:#4477aa;
  border:solid 3px #336699;
  border-radius:4px;
  box-shadow:2px 2px 10px #333;
  text-shadow:1px 1px 1px #666;
  padding:0 4px;
}

.overlay_arrow{
  left:50%;
  margin-left:-16px;
  width:0;
  height:0;
  position:absolute;
}
.overlay_arrow.above{
  bottom:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-top:16px solid #336699;
}
.overlay_arrow.below{
  top:-15px;
  border-left:16px solid transparent;
  border-right:16px solid transparent;
  border-bottom:16px solid #336699;
}
